$color1: #2A3A57;
$color1_transparent: #2a3a57b8;
$color2: #006384;
$color3: #008E9C;
$color3_transparent: #008e9c96;
$color4: #00B899;
$color5: #8ADD82;
$color5_transparent: #8add8259;
$color6: #F9F871;

// https://mycolor.space/?hex=%232A3A57&sub=1